<div class="root">
  <div class="media header">
    <div class="brand">
      <div class="name">timeless</div>
      <div class="version">version 0.0.4</div>
    </div>
    <div class="icons">
      <button 
        mat-icon-button
        (click)="onLeft()"
      >
        <mat-icon aria-hidden="false" aria-label="Example home icon">
          chevron_left
        </mat-icon>
      </button>
      <button 
        mat-icon-button
        (click)="onRight()"
      >
        <mat-icon aria-hidden="false" aria-label="Example home icon">
          chevron_right
        </mat-icon>
      </button>
    </div>
  </div>
</div>
