:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #ffffff;
  overflow-y: auto;
}

.header {
  margin-top: 20px;
  padding: 20px;
  background: #393939;
  display: grid;
  grid-template-columns: auto 1fr auto;

  .date {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.main {
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  background: #393939;
}

.separator {
  margin-bottom: 20px;
  height: 2px;
  width: 100%;
  background: #797979;
}

.cat-buttons {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-gap: 20px;

  .button {
    width: 80px;
  }

  .button-lighter {
    color: #000000;
    background: var(--primary-lighter-color);
  }

  .hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
  }

  .text {
    cursor: pointer;
    align-self: center;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #ababab;
  }

  .separator {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .summary {
    margin-top: -20px;
    margin-bottom: 20px;
  }

  .edit {
    margin-top: -20px;
    margin-bottom: 20px;
    justify-self: center;
  }
}

