//@import 'app/styles/theme';
@import 'app/styles/colors';
@import 'app/styles/dimensions';

html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;

  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-weight: 400;

  overflow-y: hidden;
}

.media {
  max-width: $media-breakpoint;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: $media-breakpoint) {
  .media {
    width: 100%;
  }
}

@media (min-width: $media-breakpoint) {
  .media {
    width: $media-breakpoint;
  }
}


.icon-2x {
  transform: scale(2);
}

.icon-3x {
  transform: scale(3);
}